body{
    padding: 0;
    margin: 0;
}
.body{
    width: 1200px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
img{
    border: 0;
}
a {

    text-decoration: none;
}
.f15px{
    font-size: 15px;
}
.f14px{
    font-size: 14px;
}

/*hearder+footer*/

.top{
    background: url("../images/menu_user.png") repeat-x #cb0000;
    width: 100%;
    min-width: 1200px;
    height: 41px;
    line-height: 41px;
    font-size: 14px;
}
.top span{
    margin:0 12px 0 12px;
    color: #df0000;
}
.top .user,.top .retrieval{
    font:italic bolder 18px 微软雅黑;
    color:#083487 ;
    margin-left: 140px;
}
.top .retrieval{
    margin:0 12px 0 220px;
}
.top a{
    display: inline-block;
    width: 70px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-image: url("../images/Hyperlink_bg.png");
    color: #fff;
    margin-left: 13px;
}
.top .hyper{
    width: 47px;
    height: 21px;
    position: relative;
    left: -15px;
    *top:-5px;
    background: url("../images/top_but.png");
    _background: url("../images/top_but.png");
}
.top_tex{
    width: 110px;
    height: 20px;
    margin: 0 7px 0 10px;
}
.top_but{
    border: none;
    width: 47px;
    height: 21px;
    color: #fff;
    background-image: url("../images/top_but.png");
    /**background: none;*/
    *bbackground-image: url("../images/top_but.gif");
}
.footer{
    clear: both;
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 319px;
    background-color: #083588;
    padding-top: 16px;
}
.online{
    background-image:url("../images/online.png") ;
    _background-image:url("../images/online.gif") ;
    width: 169px;
    height: 55px;
    position: absolute;
    left: 130px;
}
.footer_menu1{
    background: url("../images/online_spr2.png") no-repeat 0 1px;
    _background: url("../images/online_spr2.gif") no-repeat ;
    width: 164px;
    height: 59px;
    position: absolute;
    left: 360px;
}
.footer_menu1:hover{
    background: url("../images/online_spr.png") no-repeat ;
    _background: url("../images/online_spr.gif") no-repeat ;
}
.footer_menu2{
    background: url("../images/online_spr2.png") no-repeat 0 -58px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -58px;
    width: 164px;
    height: 59px;
    position: absolute;
    left:544px;
}
.footer_menu2:hover{
    background: url("../images/online_spr.png") no-repeat 0 -59px;
    _background: url("../images/online_spr.gif") no-repeat 0 -59px;
}
.footer_menu3{
    background: url("../images/online_spr2.png") no-repeat 0 -117px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -117px;
    width: 164px;
    height: 59px;
    position: absolute;
    left: 728px;
}
.footer_menu3:hover{
    background: url("../images/online_spr.png") no-repeat 0 -118px;
    _background: url("../images/online_spr.gif") no-repeat 0 -118px;
}
.footer_menu4{
    background: url("../images/online_spr2.png") no-repeat 0 -176px;
    _background: url("../images/online_spr2.gif") no-repeat 0 -176px;
    width: 164px;
    height: 59px;
    position: absolute;
    left: 912px;
}
.footer_menu4:hover{
    background: url("../images/online_spr.png") no-repeat 0 -177px;
    _background: url("../images/online_spr.gif") no-repeat 0 -177px;
}
.interlink{
    position: absolute;
    top: 90px;
    left: 100px;
    width: 955px;
    height: 125px;
    padding-top:15px ;
    padding-left: 45px;
    border-bottom: 1px solid #79c1e7;
    border-top: 1px solid #79c1e7;
    color: #fff;
}
.interlink ul{
    margin-left: 30px;
    *margin-left: 50px;
    margin-top: -20px;
}
.interlink ul li{
    font: 15px 宋体;
    float: left;
    margin-left: 90px;
    *margin-left: 105px;
    _margin-left: 55px;
    width: 110px;
}
.interlink ul li .second_ul{
    margin-top: 0;
}
.interlink ul li .second_ul li{
    clear: both;
    margin: 10px 0 0 -70px;
    *margin-left:-50px;
    _margin-left: -25px;
}
.interlink ul li .second_ul li a{
    color: #79c1e7;
}
.footer_botoom{
    position: absolute;
    left: 300px;
    top: 250px;
    color: #a8caed;
    text-align: center;
    font: 14px 宋体;
    line-height: 10px;
    *height:60px ;
    *line-height: 16px;
}
.nav{
    width: 100%;
    min-width: 1200px;
    height: 45px;
    background: url("../images/nav_bg.png") repeat-x;
    color: #fff;
}
.nav ul{
    width: 1000px;
    margin: -16px auto 0 auto;
    *margin-top: 0px;
}
.nav ul .first_li{
    color: #fff;
    font:15px 宋体;
    font-weight: bolder;
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: url("../images/nav_li.png") no-repeat right;
}
.header{
    width: 100%;
    min-width: 1200px;
    height: 144px;
    background: url("../images/header_bg2.png") repeat-x;
}
.index_header{
    width: 100%;
    min-width: 1200px;
    height: 363px;
    background: url("../images/index_bg.png") repeat-x;
}
.header_cen{
    width: 1000px;
    height: 144px;
    margin: 0 auto;
    background-image: url("../images/header_bg.png");
}
.index_header_cen{
    width: 1000px;
    height: 365px;
    margin: 0 auto;
    background: url("../images/index_head_bg2.png") no-repeat;
    _background: url("../images/index_head_bg2.gif") no-repeat;
}
.edition{
    width: 245px;
    font: 16px 宋体;
    position:relative;
    top: 15px;
    left: 780px;
    line-height: 20px;

}
.edition span{
    font:16px Times New Roman;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-right:1px solid #fff ;
    border-left:1px solid #fff ;
    margin: 0 8px 0 8px;
}
.edition a{
    color: #ffffff;
}
.first_li ul{
    position: absolute;
    _width: 1000px;
    top: 238px;
    *top: 245px;
    display: none;
    z-index: 1;
}
.first_li ul li{
    float: left;
    width: 120px;
    font:bolder 15px 宋体;
    height: 35px;
    line-height: 35px;
    background-color: #a1dbff;
    border-right:1px solid #aa2b2b ;
    color: #073285;
    _display: inline-block;
    _overflow: hidden;
}
.first_li ul li span{
    color: #ff0000;
}
.survey1{
    left: 262px;
    *left: 267px;
}
.survey2{
    left: 362px;
    *left: 367px;
}
.survey3{
    left: 280px;
    *left: 285px;
}
.survey4{
    left: 662px;
    *left: 667px;
}
.survey5{
    left: 762px;
    *left: 767px;
}
.survey6{
    left: 760px;
    * left: 765px;
}
.survey7{
    left: 675px;
    *left: 680px;
}
.first_li .ie6survey1{
    position: absolute;
    top: 457px;
    left: 254px;
    *top: 465px;
    *left: 268px;
}
.first_li .ie6survey2{
    position: absolute;
    top: 457px;
    left: 354px;
    *top: 465px;
    *left: 368px;
}
.first_li .ie6survey3{
    position: absolute;
    top: 457px;
    left: 276px;
    *top: 465px;
    *left: 290px;
}
.first_li .ie6survey4{
    position: absolute;
    top: 457px;
    left: 654px;
    *top: 465px;
    *left: 668px;
}
.first_li .ie6survey5{
    position: absolute;
    top: 457px;
    left: 754px;
    *top: 465px;
    *left: 768px;
}
.first_li .ie6survey6{
    position: absolute;
    top: 457px;
    left: 740px;
    *top: 465px;
    *left: 756px;
}
.first_li .ie6survey7{
    position: absolute;
    top: 457px;
    left: 670px;
    *top: 465px;
    *left: 680px;
}
.nav ul .first_li:hover{
    color: #aa2b2b;
    background: url("../images/nav_hover.png") repeat-x;
}
.nav ul .first_li:hover ul{
    display: block;
}
.nav ul .first_li ul li:hover{
    background-color:#aa2b2b;
    color: #fff;
}
/*hearder+footer*/



/*hearder+footer*/


/**********************************************************************************************这是左边的通用，小的地方自己修改*/
.newroman{
    font-family:"Times New Roman";
}
.container1{
    /*border: 1px solid red;*/
    position: relative;
    top: 230px;
    left: 0;
    width: 1000px;
    min-height: 1240px;
    margin: 0 auto;
}
.title{
    background: url("../images/banner.png") 0 -150px;
    width: 1000px;
    height: 131px;
    position: absolute;
    top: 0;
    left: 0;
}
.side{
    /*border: 1px solid yellow;*/
    width: 300px;
    height:463px;
    position: relative;
    top: 135px;
    left: 0;
    background:#e7f2f9;
}
.side ul{
    position: absolute;
    left: -40px;
    top: -15px;
}



/*************************left-common-style-one*****************************/
.f15px{
    /*margin-left: 1px;*/
    float: left;
    /*border: 1px solid blue;*/
    width: 99px;
    height: 50px;
    color:#083689;
    background: #ccebfa;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    border-bottom:1px solid red;border-right: 1px solid white;
    /*margin-left: -1px;*/
}
.f15px_1,.f15px_2,.f15px_3,.f15px_4,.f15px_5,.f15px_6,.f15px_7,.f15px_8{
    font-weight: 400;
    border-bottom:1px solid white;
    width: 285px;
    height: 40px;
    position: absolute;
    left: 45px;
}
.f15px_2{
    top:103px ;
}
.f15px_3{
    top: 146px;
}
.f15px_4{
    top: 189px;
}
.f15px_5{
    top: 232px;
}
.f15px_6{
    top: 275px;
}
.f15px_7{
    top: 318px;
}
.f15px_8{
    top: 361px;
}
.f15px_1{
    top: 60px;
}
.f15px_1_1{
    /*border: 1px solid blue;*/
    width: 1px;
    height: 20px;
    margin-top: 12px;
}
.red-cir{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background:#e70000;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
}
.f15px_1_2{
    width: 285px;
    height: 23px;
    /*border: 1px solid green;*/
    text-align: left;
    margin-top: -41px;
    margin-left: 8px;
    color: #083689;
}
.f15px_1_3{
    width: 255px;
    height: 18px;
    /*border: 1px solid red;*/
    /*float: right;*/
    margin-top: -8px;
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
    color: #5ab3ff;
    font-family:"Times New Roman";
}
.f15px_9{
    font-size: 15px;
    color: #083689;
    text-align: right;
    font-weight:400;
    /*border: 1px solid red;*/
    width: 285px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 410px;
    right: 20px;
}
#center_news:hover{
    border-top: 1px solid red;border-right: 1px solid red;border-bottom: none;
    color:#aa2b2b;
}
#center_news:hover {
    margin-top: -1px;
}
#anno_noti:hover{
    border: 1px solid red;border-bottom: none;
    margin-left: -1px;
    margin-top: -1px;
    color:#aa2b2b;
}
#opin_feed:hover{
    border: 1px solid red;border-bottom: none;border-right: none;
    margin-left: -1px;
    margin-top: -1px;
    color:#aa2b2b;
}


/****************************************************************************/
/*************************left-common-style-two*****************************/
.title-expertdata{
    background: url("../images/banner.png") 0 -750px;
    width: 1000px;
    height: 131px;
    position: absolute;
    top: 0;
    left: 0;
}
.left-common-expectimg{
    width: 300px;
    height: 49px;
    position: absolute;
    background: url("../images/left-common.png") 0 -99px;
}
.left-common-expect-container{
    width: 78%;
    height: 235px;
    /*border: 1px solid black;*/
    /*margin: 0 auto;*/
    position: relative;
    top: 75px;
    color: #083487;
    font-size: 15px;
    margin-left: 25px;
}
.expect-name{
    /*border: 1px solid yellow;*/
    margin-top: 17px;
}
.expect-name-inp{
    float: right;
    border: 1px solid #1668c3;
}
.expect-name-sel{
    border: 1px solid #1668c3;
    width: 140px;
    float: right;
}
.expext-button{

}
.expext-search{
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    height: 30px;
    background: url("../images/expect-button-bg.png") 0 -30px;
    border-color: #cce7fa #a4c5e1 #6594c1 #a4c5e1;
    border-radius: 3px;
    box-shadow:         0 0 1px 1px gray;
}
.expext-cancel{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    background: url("../images/expect-button-bg.png") 0 -30px;
    border-color: #cce7fa #a4c5e1 #6594c1 #a4c5e1;
    border-radius: 3px;
    box-shadow:         0 0 1px 1px gray;
}
.expext-search:hover{
    background: url("../images/expect-button-bg.png");
    border-color: #d94027 #b53727 #802c29 #b53727;
}
.expext-cancel:hover{
    background: url("../images/expect-button-bg.png");
    border-color: #d94027 #b53727 #802c29 #b53727;
}
.mubuu{
    width: 100%;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 00px;
    left: 0;
}
.expect-left-common-one{
    width: 300px;
    height: 49px;
    position: absolute;
    background: url("../images/left-common.png");
    top: 353px;
    background-position: 0 -50px;
}
.expext-container{
    position: absolute;
    top: -114px;
}
/****************************************************************************/
/*************************left-common-style-three*****************************/
.title-scient{
    background: url("../images/banner.png") 0 -900px;
    width: 1000px;
    height: 131px;
    position: absolute;
    top: 0;
    left: 0;
}
.left-common-scient{
    width: 300px;
    height: 49px;
    position: absolute;
    background: url("../images/left-common.png");
}
.scient-container{
    position: absolute;
    top: -204px;
}
/****************************************************************************/
.left-common-one,.left-common-two{
    width: 300px;
    height: 49px;
    position: absolute;
    background: url("../images/left-common.png");
}
.left-common-one{
    top: 453px;
    background-position: 0 -50px;
    z-index:2;
}
.left-common-two{
    top: 803px;
    background-position: 0 -150px;
}
.side1{
    width: 300px;
    height: 642px;
    /*border: 1px solid deeppink;*/
    position: absolute;
    top: 448px;
    background: #e7f2f9;
}
.side1_1{
    font-weight: bolder;
    color: #353535;
    font-size: 14px;
    /*border: 1px solid yellow;*/
    position: absolute;
    top: 70px;
    right: 0;
    width: 285px;
    height: 14px;
}
.side2{
    width: 260px;
    height: 68px;
    /*border: 1px solid red;*/
    position: absolute;
    top:554px;
    left:19px;
}
.side2_1{
    width: 65px;
    height: 68px;
    /*border: 1px solid greenyellow;*/
    float: left;
    font-size: 12px;
    text-align: center;
    border-collapse:collapse;
    margin-left: -1px;
}
.side3{
    width: 260px;
    height: 68px;
    /*border: 1px solid red;*/
    position: absolute;
    top:641px;
    left:19px;
}
.side4{
    width: 266px;
    height: 167px;
    /*border: 1px solid green;*/
    position: absolute;
    top: 866px;
    left:16px;
}
.side4_1{
    font-size: 14px;
    font-weight: bold;
}
.f14px{
    margin-top: 4px;
}
.f14px_1{
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
    margin-left: -42px;
}
.f14px-span-tel{
    font-family:"Times New Roman";
    margin-left: -5px;
}
.f14px-span-email{
    color: #de0000;
    font-family:"Times New Roman";
    margin-left: -5px;
}
/************************************************************************************************************左边通用到此为止*/
